<!-- _includes/header.html -->
<div class="banner">
  <div class="banner-title">
    International Conference on Learning and Reasoning Systems (ICLARS)
  </div>
</div>

<nav class="nav-bar">
  <a href="{{ '/' | relative_url }}"
     class="{% if page.nav == 'home' %}current{% endif %}">
    About Us
  </a>

  <a href="{{ '/people/' | relative_url }}"
     class="{% if page.nav == 'people' %}current{% endif %}">
    Dates
  </a>

  <a href="{{ '/research/' | relative_url }}"
     class="{% if page.nav == 'research' %}current{% endif %}">
    Calls
  </a>

  <a href="{{ '/initiatives/' | relative_url }}"
     class="{% if page.nav == 'initiatives' %}current{% endif %}">
    Guides
  </a>

  <a href="{{ '/opportunities/' | relative_url }}"
     class="{% if page.nav == 'opportunities' %}current{% endif %}">
    Organization
  </a>
</nav>
