<!-- _includes/header.html -->
<div class="banner">
  <div class="banner-title">
    International Conference on Learning and Reasoning Systems (ICLARS)
  </div>
</div>

<nav class="nav-bar">
  <a href="{{ '/' | relative_url }}"
     class="{% if page.nav == 'home' %}current{% endif %}">
    About Us
  </a>

  <a href="{{ '/dates/' | relative_url }}"
     class="{% if page.nav == 'dates' %}current{% endif %}">
    Dates
  </a>

  <a href="{{ '/calls/' | relative_url }}"
     class="{% if page.nav == 'calls' %}current{% endif %}">
    Calls
  </a>

  <a href="{{ '/guides/' | relative_url }}"
     class="{% if page.nav == 'guides' %}current{% endif %}">
    Guides
  </a>

  <a href="{{ '/organization/' | relative_url }}"
     class="{% if page.nav == 'organization' %}current{% endif %}">
    Organization
  </a>
</nav>
